<!-- index.ejs -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        *{
            margin:0;
            padding:0;
        }

        .top-bar{
            padding: 27px 38px 23px 33px;
            background: #4030ab;
        }

        .top-bar h1{
            color: #FFF;
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 900;
            line-height: 150%; /* 48px */
        }

        .side-bar {
            width: 400px;
            height: 600px;
            display: flex;
            flex-direction: column;
            border: 1px solid #9E9E9E;
        }

        .side2-bar{
            width: 400px;
            height: 600px;
            border: 1px solid #9E9E9E;
            color: white;
            line-height: 40px;
            writing-mode: horizontal-tb;
            transform: rotate(360deg);
            flex-direction: column;
            height: 39vh;
            bottom: 53cm;
            left: 0;
            align-items: center;
        }


        .box{
           display: flex;
           width:100%;
        }

        .box2{
           display: flex;
           margin-left:40px;
           width: 70%;
           flex-direction: column;
        }

        .box3{
            display: flex;
            margin-left: 20px;
        }

        .additional-bar{
            margin: 20px 20px;
            display: flex;
            width: 90%;
            height: 80px;
            align-items: center;
        }

        #table, #cart-list {
            width: 1500px;
            height: 30px;
            top: 230px;
            margin-left: 20px;
        }

        #cart-list {
            width: 1500px;
            margin-left: 60px;
        }

        #table tr, #cart-list tr {
            height: 50px;
        }

        #table td,
        #table th, #cart-list td, #cart-list th {
            text-align: center;
            border: 1px solid #ccc;
            padding: 5px;
        }

        /* 버튼 스타일 */
        #selectclass,
        #records,
        #timetable {
            width: 200px;
            height: 60px;
            color: black;
            font-size: 20px;
            border: 1px solid #9E9E9E;
            margin-left: 30px;
            font-weight: bold;            
            background-color: #fff;
            border-radius: 6px;
        }

        /* 버튼 호버 스타일 */
        #selectclass:hover,
        #records:hover,
        #timetable:hover {
            color: #3885b5;
        }

        .title2{
            color: #4030ab;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 30px */
            margin: 20px 20px;
        }

        .box3 p{
            color: #black;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 150%; /* 24px */
            margin : 5px 20px 5px 0px;
        }

        .b3_1 p{
            text-align: right;
            font-weight: bold;
            
        }

        

        .side2-bar_t{
            color: black;
            font-size: 20px;
        }

        select {
        -o-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 150px;
        height: 35px;
        background-size: 20px;
        padding: 5px 30px 5px 10px;
        border-radius: 4px;
        outline: 0 none;
        }

        .but{
            width:50px;
            height: 30px;
            border: none;
            border-radius: 6px;
            background-color: #8286b5;
            color: #fff;
        }


        
        table {
        border-collapse: collapse;
        border: 0;
        }
        th,
        td {
        border: 1px solid #aaa;
        background-clip: padding-box;
        scroll-snap-align: start;
        }
        tbody tr:last-child th,
        tbody tr:last-child td {
        border-bottom: 0;
        }
        thead {
        position: relative;
        }
        th,
        td {
        padding: 0.6rem;
        min-width: 6rem;
        text-align: left;
        margin: 0;
        }
        thead th {
        position: sticky;
        top: 0;
        border-top: 0;
        background-clip: padding-box;
        }
        thead th.pin {
        left: 0;
        border-left: 0;
        }
        tbody th {
        background-clip: padding-box;
        border-left: 0;
        }
        tbody {
        position: relative;
        }
        tbody th {
        position: sticky;
        left: 0;
        }
        thead th,
        tbody th {
        background-color: #f8f8f8;
        }

        .side2_d{
            display: flex;
            justify-content: flex-end;
            text-align: right;
            padding-right: 80px;

        }
        .a{
            padding-top: 20px;
        }

        .titel3{
            color: #4030ab;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 30px */
            margin: 20px 40px;
            padding-left: 20px;
        }

        #all{
            width:80px;
            margin: 20px 0px;
        }

        .box3{
            display: flex;

        }

    </style>
</head>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/public/sequelize.js"></script>
    
<body onload="onCompletionTypeChange()">
    <div class="top-bar">
        <h1>백석대학교 수강신청</h1>
    </div>
    <div class="box">
        <div>
            <div class="side-bar">
                <div class ="title2">사용자 정보</div>
                <div class="box3">
                    <div class="b3_1">
                        <p>년도/학기</p>
                        <p>소속</p>
                        <p>학년</p>
                        <p>성명/학번</p>
                        <p>신청가능학점</p>
                        <p>희망전공</p>
                    </div>
                    <div class="b3_2" id="stu_info">
                        <p>2023년도 2학기</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box2">
            <div>
                <div class="additional-bar">
                    <button id="selectclass" onclick="location.href='index'">수강신청</button>
                    <button id="records" onclick="location.href='index2'">수강신청 내역</button>
                    <button id="timetable" onclick="location.href='index3'">시간표</button></a>
                </div>
            </div>
            <div>
                <table id="table">
                <thead>
                    <tr>
                    <th>NO</th>
                    <th>구분</th>
                    <th>이수구분</th>
                    <th>과목코드-분반</th>
                    <th>학년</th>
                    <th>학점</th>
                    <th>교과목명</th>
                    <th>담당교수</th>
                    <th>강의시간</th>
                    <th>강의실</th>
                    <th>신청</th>
                    </tr>
                </thead>
                <tbody id="searchResult">
                    <% for (let i = 0; i < searchResults.length; i++) { %>
                    <% const classItem = searchResults[i]; %>
                        <tr>
                        <td><%= i + 1 %></td>
                        <td><%= classItem.detailed_area %></td>
                        <td><%= classItem.cls_type %></td>
                        <td><%= classItem.cls_cord %></td>
                        <td><%= classItem.cls_semester %></td>
                        <td><%= classItem.credit %></td>
                        <td><%= classItem.cls_name %></td>
                        <td><%= classItem.instrunctor %></td>
                        <td><%= classItem.pg_time %></td>
                        <td><%= classItem.room %></td>
                        <button class="my-button but" data-info='{"cord": "<%= classItem.cls_cord %>", "semester": "<%= classItem.cls_semester %>" }'>담기</button>
                        </tr>
                    <% } %>
                </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="box">
        <div><div class="side2-bar">
            <p class="title2 a">세부선택<p>

            <div class="side2_d"><form action="/" method="GET">
                <div><label for="completionType" class="side2-bar_t" >이수구분</label>
            
                <select id="completionType" name="completionType" onchange="onCompletionTypeChange()">
                    <% completionTypes.forEach(function(completionType) { %>
                        <option value="<%= completionType.cls_type %>">
                            <%= completionType.cls_type %>
                        </option>
                    <% }); %>
                </select>
                </div>
                <div>
                        <label for="classification" class="side2-bar_t">구분</label>
                        <select id="classification" name="classification"></select>
                </div>
                <!-- 수정된 부분: 검색 버튼의 이벤트 리스너 연결 -->
                <button type="button" class="but" id="searchButton" onclick="onSearchButtonClick()">검색</button>
            </form></div>

        </div></div>

        <div class="box2">
                <div class="box">
                <p class="titel3">장바구니</p>
                <button type="button titel3" class="but" id="all" onclick="allButtonClick()">일괄담기</button>
                </div>
            <table id="cart-list">
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>구분</th>
                        <th>삭제</th>
                        <th>이수구분</th>
                        <th>과목코드-분반</th>
                        <th>학점</th>
                        <th>교과목명</th>
                        <th>담당교수</th>
                        <th>강의시간 및 강의실</th>
                        <th>강의유형</th>
                        <th>재수강 구분</th>
                        <th>취득년도/학기</th>
                        <th>취득 과목명</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                        <script>getCart_item();</script>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>    

    

    <script>

                function onCompletionTypeChange() {
            var selectedCompletionType = document.getElementById("completionType").value;
            var classificationDropdown = document.getElementById("classification");

            // 수정된 부분: 선택한 이수구분에 따라 구분 드롭다운 초기화
            classificationDropdown.innerHTML = "";

            // 이수구분이 선택된 경우에만 구분 옵션 추가
            if (selectedCompletionType !== "") {
    <% if (detailedAreas && detailedAreas.length > 0) { %>
        <% detailedAreas.forEach(function (area) { %>
            var option = document.createElement("option");
            option.value = "<%= area.detailed_area %>";
            option.text = "<%= area.detailed_area %>";
            classificationDropdown.add(option);
        <% }); %>
    <% } %>
}
        }


        function onSearchButtonClick() {
            // 선언된 변수들을 함수 상단에서 미리 선언
            var selectedCompletionType, selectedClassification;

            // 변수에 값 할당
            selectedCompletionType = document.getElementById("completionType").value;
            selectedClassification = document.getElementById("classification").value;

            console.log('검색 요청: CompletionType=', selectedCompletionType, 'Classification=', selectedClassification);

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        try {
                            // 수정된 부분: JSON.parse 대신 response를 그대로 사용
                            var searchResults = JSON.parse(xhr.responseText);
                            console.log(searchResults);
                            displaySearchResult(searchResults);
                           
                        } catch (e) {
                            // 만약 JSON 파싱에 실패하면 HTML로 간주하고 표시
                            document.getElementById("searchResult").innerHTML = xhr.responseText; 
                          
                        }
                    }
                }
            };

            // 수정된 부분: URL에 한글이 포함될 수 있으므로 인코딩
            xhr.open("GET", "/index/?completionType=" + encodeURIComponent(selectedCompletionType) + "&classification=" + encodeURIComponent(selectedClassification), true);
            xhr.send();
        }
        function displaySearchResult(searchResults) {
            var tbody = document.getElementById("searchResult");
            // 기존 행 삭제
            tbody.innerHTML = "";

            for (var i = 0; i < searchResults.length; i++) {
                var classItem = searchResults[i];

                // 새로운 테이블 행 생성
                var row = document.createElement("tr");

                // 각 속성에 대한 테이블 셀 추가
                var cells = [
                    i + 1,
                    classItem.detailed_area,
                    classItem.cls_type,
                    classItem.cls_cord,
                    classItem.cls_semester,
                    classItem.credit,
                    classItem.cls_name,
                    classItem.instrunctor,
                    classItem.pg_time,
                    classItem.room,
                    '<button class="but" onclick="put_click(\'' + classItem.cls_cord + '\', \'' + classItem.cls_semester + '\');">신청</button>'
                ];

                for (var j = 0; j < cells.length; j++) {
                    var cell = document.createElement("td");
                    cell.innerHTML = cells[j];
                    row.appendChild(cell);
                }


                // 새로운 행을 tbody에 추가
                tbody.appendChild(row);
            }
        }
      
    </script>
</body>
</html>